[submodule "tools/wrapper-generator/autd3-link-soem"]
	path = tools/wrapper-generator/autd3-link-soem
	url = https://github.com/shinolab/autd3-link-soem.git
[submodule "tools/wrapper-generator/autd3-capi-link-soem"]
	path = tools/wrapper-generator/autd3-capi-link-soem
	url = https://github.com/shinolab/autd3-capi-link-soem.git
[submodule "tools/autd3_build_utils"]
	path = tools/autd3_build_utils
	url = https://github.com/shinolab/autd3_build_utils.git
